---
# Only the main Sass file needs front matter (the dashes are enough)
---

$unused: false; // So I can see the color below in VS Code

// SASS Colors

$color-primary-0: #5F000B;	// Main Primary color */
$color-primary-1: #A01324;
$color-primary-2: #81000F;
$color-primary-3: #3C0007;
$color-primary-4: #190003;

$color-secondary-1-0: #003F34;	// Main Secondary color (1) */
$color-secondary-1-1: #0D6A5A;
$color-secondary-1-2: #005547;
$color-secondary-1-3: #002721;
$color-secondary-1-4: #00110E;

$color-secondary-2-0: #445E00;	// Main Secondary color (2) */
$color-secondary-2-1: #779E13;
$color-secondary-2-2: #5C7F00;
$color-secondary-2-3: #2B3B00;
$color-secondary-2-4: #121900;

$color-complement-0: #115400;	// Main Complement color */
$color-complement-1: #2B8D11;
$color-complement-2: #187100;
$color-complement-3: #0B3400;
$color-complement-4: #051600;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap-compass",
        "bootstrap-variables",
        "bootstrap",
        "syntax-highlighting"
;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  min-width: 320px;
}

#mc_embed_signup {
    margin-top: 50px;
}

.content {
  padding: 40px 15px;
}

.navbar {
  min-width: 320px;
}

//==============================
// Index
//==============================

.jumbotron {
    margin-bottom: -48px;
}

.jumbotron .container {
    padding-top: 40px;
}

.index-post {
    margin: 10px 0 5px 0;
}

.index-info {
    color: #666;
    margin: 10px 0 5px 5px;
    font-size: 80%;
}

.index-register {
    margin: 10px 0 5px 0;
}

//==============================
// Events
//==============================
.events-post {
    font-size: 120%;
}

.events-info {
    font-size: 80%;
    color: #666;
}

//==============================
// Pages
//==============================
body > div.container {
    padding-top: 30px;
}

//==============================
// Event Page
//==============================
.register {
    margin-top: 30px;
}

.info {
    margin-left: 12px;
}

//==============================
// Header/NavBar
//==============================

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: rotate(3deg) scale(1.1); }

.full {
    width: 100%;
}

//==============================
// Footer
//==============================

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: $color-secondary-1-4;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.container .text-muted {
  margin: 15px 0;
  color: lighten($gray-base, 77.7%);
}

p.text-muted > a {
    color: #bbb;
}

p.text-muted > a:hover, p.text-muted > a:visited {
    color: #ccc;
}

//==============================
// Footer
//==============================

.goats {
    background-image: url('/img/404.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.goats-title {
    font-size: 300%;
    color: #333;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}